<div class="detail row">
  <img src="{{movie.image}}" alt="" class="col-3" />
  <div class="col-6 info">
    <a class="link" href="/movies">Go back</a>
    <h1><b>{{movie.title}}</b></h1>
    <h3><b>Director: {{movie.director}}</b></h3>
    <p class="stars"><b>Stars</b></p>
    {{#each movie.stars as |star|}}
      <li>{{star}}</li>
    {{/each}}
    <div class="desc">{{movie.description}}</div>
    <table>
      <tr class="showtimes">
        {{#each movie.showtimes as |showtime|}}
          <th>{{showtime}} | </th>
        {{/each}}
      </tr>
    </table>
  </div>
</div>